/* CSS Para a Parte 1 do codigo (Home)(Pokémon Info Page) */

/* Titulo da parte */
.header-ball {
    width: 40vw;
}

.conteudo-layout {
    display: flex;
    padding: 4vh 4vw;
    gap: 2vw;
    flex: 1;
    margin-right: 15vw;
}

/* Cards */
.card {
    background: white;
    border: 4px solid #ff0000;
    border-radius: 30px;
    padding: 25px;
    position: relative;
    min-width: 0;
}

.historia { 
    width: 35vw; 
    height: 72vh; 
}

.footer-sprites {
    position: absolute;
    bottom: -9px;
    left: 70%;
    transform: translateX(-50%);
    width: 60%;
}

.footer-sprites img { 
    width: 90%; 
}

.coluna-central {
    display: flex;
    flex-direction: column;
    gap: 6vh;
    flex: 1;
}

.curiosidades { 
    height: 35vh; 
}

.img-energias {
    position: absolute;
    bottom: -50px;
    right: 100px;
    width: 18vw; 
}

.row-inferior {
    display: flex;
    gap: 2vw;
    height: 31vh;
}

.grid-jogos { 
    width: 60%; 
}

.grid-jogos img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px; 
}

.pikachu { 
    width: 40%; 
    text-align: center; 
}

.pikachu img { 
    width: 65%; 
    margin-top: 10px; 
}

/* Imagens Flutuantes */
.img-flutuante-gb { 
    position: absolute; 
    right: 30px; 
    top: -80px; 
    width: 7vw; 
}

.img-flutuante-mew { 
    position: absolute; 
    right: -40px; 
    top: -40px; 
    width: 7vw; 
}

/*ícones de energia */
.energia-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}